stages:
  - build
  - release
before_script:
  - mkdir -p _ccache
  - export CCACHE_BASEDIR=${PWD}
  - export CCACHE_DIR=${PWD}/_ccaches
cache:
  paths:
    - _ccache/
build-cmake:
  image: archlinux/base
  stage: build
  script:
   - pacman -Sy
   - pacman -S --noconfirm libwnck3 gtk3 cmake git base-devel clang ninja xfce4-panel mate-panel budgie-desktop gobject-introspection
   - git clone https://gitlab.com/vala-panel-project/cmake-vala.git
   - cd cmake-vala && cmake . -DCMAKE_INSTALL_PREFIX=/usr -GNinja && ninja install && cd .. && rm -rf cmake-vala
   - git clone https://gitlab.com/vala-panel-project/vala-panel.git
   - cd vala-panel && cmake . -DCMAKE_INSTALL_PREFIX=/usr -GNinja && ninja install && cd .. && rm -rf vala-panel
   - mkdir build && cd build && cmake .. -DCMAKE_INSTALL_PREFIX=/usr -GNinja
   - ninja
   - ninja install
   - ninja dist
  artifacts:
    paths:
    - "build/genmon*.tar.xz"
    expire_in: 1 week

build-meson:
  image: alpine:edge
  stage: build
  script:
   - apk add --no-cache python3 vala gtk+3.0-dev ninja mate-panel-dev xfce4-panel-dev build-base git
   - pip3 install meson
   - git clone https://gitlab.com/vala-panel-project/vala-panel.git
   - cd vala-panel && meson build --prefix=/usr && cd build && ninja install && cd ../.. && rm -rf vala-panel
   - meson build -Dbudgie=disabled && cd build && ninja dist
  artifacts:
    paths:
    - "build/meson-dist/genmon*.tar.xz"
    expire_in: 1 week

release-main:
  image: alpine:edge
  stage: release
  script:
    - apk add --no-cache python3
    - pip3 install gitlab_release
    - python3 -m gitlab_release ${PRIVATE_TOKEN} build/genmon*.tar.xz
  only:
    - tags
